PCM/
Redes/

# Imagens
*.png


# Zip
*.zip
*.tar.gz


/3 ano/LP/CreateClasses/nbproject/private/
/3 ano/LP/CreateClasses/dist/
/3 ano/LP/CreateClasses/build/
/3 ano/SO II/webapp1/nbproject/private/
/3 ano/SO II/webapp1/build/
/3 ano/SO II/webapp1/dist/
/3 ano/SO II/loja1/nbproject/private/
/3 ano/SO II/loja1/build/
/3 ano/SO II/loja1/dist/
/3 ano/SO II/loja3bd/build/
/3 ano/SO II/loja3bd/dist/
/3 ano/SO II/so23/nbproject/private/
/3 ano/SO II/login1/nbproject/private/
/3 ano/SO II/login1/build/
/3 ano/SO II/login1/dist/