PCM/
Redes/

# Imagens
*.png


# Zip
*.zip
*.tar.gz


/3 ano/LP/CreateClasses/nbproject/private/
/3 ano/LP/CreateClasses/dist/
/3 ano/LP/CreateClasses/build/
/3 ano/SO II/webapp1/nbproject/private/
/3 ano/SO II/webapp1/build/
/3 ano/SO II/webapp1/dist/
/3 ano/SO II/loja1/nbproject/private/
/3 ano/SO II/loja1/build/
/3 ano/SO II/loja1/dist/
/3 ano/SO II/loja3bd/build/
/3 ano/SO II/loja3bd/dist/
/3 ano/SO II/so23/nbproject/private/
/3 ano/SO II/login1/nbproject/private/
/3 ano/SO II/login1/build/
/3 ano/SO II/login1/dist/
/3 ano/SO II/jsf_HelloWorld1/build/
/3 ano/SO II/jsf_HelloWorld1/dist/
/3 ano/SO II/jsf_jogo1/nbproject/private/
/3 ano/SO II/jsf_jogo1/dist/
/3 ano/SO II/jsf_jogo1/build/
/3 ano/SO II/jsf_jogo2/nbproject/private/
/3 ano/SO II/jsf_jogo2/dist/
/3 ano/SO II/jsf_jogo2/build/
/3 ano/SO II/reservation1/nbproject/private/
/3 ano/SO II/reservation1/build/
/3 ano/SO II/reservation1/dist/
/3 ano/ABD/GerateInputs/nbproject/private/
/3 ano/ABD/GerateInputs/build/
/3 ano/ABD/GerateInputs/dist/
/3 ano/SO II/trabalho_2/nbproject/private/