/* 
    Created on : 31/Out/2013, 17:41:27
    Author     : jsaias
*/

body {
    background-color: antiquewhite;
    font-size: 10pt;
}

H1 {
    font-size: 20pt;
}

table {
    background-color: white;
}

